<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Backbone Fundamentals</title>
</head>
<body>

  <div id="todo"></div>

  <script type="text/template" id="item-template">
    <div>
      <input id="todo_complete" type="checkbox" <%= completed ? 'checked="checked"' : '' %>>
      <%= title %>
    </div>
  </script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
<script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>
<script>

var Todo = Backbone.Model.extend({
  defaults: {
    title: '',
    completed: false
  }
});

var TodosCollection = Backbone.Collection.extend({
  model: Todo,
});

var myTodo = new Todo({title:'Read the whole book', id: 2});

// pass array of models on collection instantiation
var todos = new TodosCollection([myTodo]);

var todo2 = todos.get(2);

// Models, as objects, are passed by reference
console.log(todo2 === myTodo); // true

/*
The idAttribute is the identifying attribute name of the model returned from the
server (i.e., the id in your database). This tells Backbone which data field from
the server should be used to populate the id property (think of it as a mapper).
By default, it assumes id, but this can be customized as needed. For instance,
if your server sets a unique attribute on your model named “userId” then you would
set idAttribute to “userId” in your model definition.
*/

var todoCid = todos.get(todo2.cid);

// As mentioned in previous example,
// models are passed by reference
console.log(todoCid === myTodo); // true

</script>
</body>
</html>